bin
bin/
build/*
evaluation/reference/processed/*.pdf
evaluation/reference/processed/*.csv
evaluation/measured/processed/*.pdf
evaluation/measured/processed/*.csv
evaluation/measured/data/ptdumps/
evaluation/reference/data/ptdumps/
scripts/*log
