bin
bin/
build/*
evaluation/reference/processed/*.pdf
evaluation/reference/processed/*.csv
evaluation/measured/data/*
evaluation/measured/processed/*
evaluation/measured/data/ptdumps/
evaluation/reference/data/ptdumps/
scripts/*log
datasets/canneal_small
datasets/canneal_large
vmconfigs/numa-visible.xml
vmconfigs/numa-oblivious.xml
vmconfigs/thin.xml
vmitosis-artifact-report/measured/*
vmitosis-artifact-report/reference/*
